body {
  background-image: url(https://images.pexels.com/photos/5193531/pexels-photo-5193531.jpeg);
  color: white;
  display: flex;
  flex-direction: column;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  height: 200vh;
  background-position: center;
  justify-content: center;
  align-items: center;
  width: 200vh;
}

button {
  background-color: rgb(50, 173, 132);
  width: fit-content;
  font-family: "circular";
  font-size: 25px;
  border-radius: 15px;
  padding: 12px;
  opacity: 85%;
  align-self: center;
  margin-top: 10px;
}

button:hover {
  background-color: rgb(126, 154, 187);
  opacity: 95%;
}

.list {
  display: none;
  position: relative; /* Make the parent element a containing block for the pseudo-element */
  border-radius: 20px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  text-shadow: 1px 1px 0 lightblue;
  color: #000000;
  font-family: sans-serif;
  font-size: larger;
  font-weight: 600;
  padding: 0 30px;
  overflow: hidden;
}

.list::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/64ceca5e-14ff-41da-a880-1036ee17f850/dgctvw2-122a137a-6b50-4f57-b1c9-f19282dc02d5.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzY0Y2VjYTVlLTE0ZmYtNDFkYS1hODgwLTEwMzZlZTE3Zjg1MFwvZGdjdHZ3Mi0xMjJhMTM3YS02YjUwLTRmNTctYjFjOS1mMTkyODJkYzAyZDUuanBnIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.3lFwsOPLxwO_hNSn4oV4lGtC_-I-SlfqZgsW6mgrTOY);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  opacity: 25%; /* Adjust the opacity of the background image */
  z-index: 1; /* Place it behind the text */
}

.list-background-color {
  background-color: #f0e7e7;
  border-radius: 20px;
}

.list ol {
  position: relative;
  z-index: 2; /* Ensure the text is on top of the background */
}
